<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register New User</title>
</head>
<body>
    <form action="/signup" method="post">
        <h3>Please Register Here</h3>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="number" name="phone" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>
        <input type="hidden" name="type" value="SHOP" required>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <div>
        <a href="/">Sign In</a>
    </div>
</body>
</html>